@page "/buffon"
@using Plotly.Blazor.Traces.ScatterLib
@using Plotly.Blazor.LayoutLib
@using MonteCarlo_Blazor.Utilities

<h3 class="mb-3">Buffon's Needle Pi calculation</h3>
<EditForm Model="settings" OnValidSubmit="RunReplications">
    <div>
        <label>Iterations: <InputNumber @bind-Value="settings.MonteCarlo.Iterations" /></label>
        <label>Replications: <InputNumber @bind-Value="settings.MonteCarlo.Replications" /></label>
    </div>

    <div>
        <label>Needle Length: <InputNumber @bind-Value="settings.NeedleLength" /></label>
        <label>Line Gap: <InputNumber @bind-Value="settings.LineGap" /></label>
    </div>

    <button type="submit" class="btn btn-primary">Run</button>
</EditForm>

<div class="mt-3">
    <button class="btn btn-danger mr-1" @onclick="@(() => settings.MonteCarlo.CancellationToken = true)" disabled="@settings.MonteCarlo.CancellationToken">Stop</button>
    <button class="btn btn-warning" @onclick="@Clear" disabled="@(!settings.MonteCarlo.CancellationToken)">Clear</button>
</div>

<p class="text-info mt-2">Actual Pi value: @lastPi</p>

<PlotlyChart @bind-Config="config"
             @bind-Layout="layout"
             @bind-Data="data"
             @ref="chart" />

@code {
    PlotlyChart chart;
    Config config = new Config();
    Layout layout = new Layout
    {
        Title = new Title { Text = "Buffon's Needle 𝝅" },
        YAxis = new List<YAxis> { new YAxis { Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title { Text = "Pi Value" } } },
        XAxis = new List<XAxis> { new XAxis { Title = new Plotly.Blazor.LayoutLib.XAxisLib.Title { Text = "Replication"} } }
    };

    double lastPi;
    BuffonsNeedleSettings settings = new BuffonsNeedleSettings();

    IList<ITrace> data = new List<ITrace>
{
        new Scatter
        {
            Name = "Pi Calculation",
            Mode = ModeFlag.Lines,
            X = new List<object>{},
            Y = new List<object>{}
        }
    };

    private async Task Clear()
    {
        await chart.Clear();
        lastPi = 0;
    }

    private async Task AddTrace()
    {
        await chart.AddTrace(new Scatter
        {
            Name = "Pi Calculation",
            Mode = ModeFlag.Lines,
            X = new List<object> { },
            Y = new List<object> { }
        });
    }

    private async Task RunReplications()
    {
        if (!(chart.Data.FirstOrDefault() is Scatter scatter)) await AddTrace();

        settings.MonteCarlo.CancellationToken = false;
        var piCalc = new BuffonsNeedlePiCalc(settings);
        var pis = piCalc.GuessPi();
        foreach (var pi in pis)
        {
            lastPi = pi.Result;
            await chart.ExtendTrace(pi.Replication, pi.Result, 0);
        }
    }
}
